.row
  .col-12.col-md-4.offset-md-4
    .card.mt-4.mb-4
      .card-header
        %h2 Sign up
      .card-body
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = render "devise/shared/error_messages", resource: resource
          .form-group
            = f.label :email
            = f.email_field :email, autocomplete: "email", class: "form-control"
          .form-group
            = f.label :password
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            = f.password_field :password, autocomplete: "new-password", class: "form-control"
          .form-group
            = f.label :password_confirmation
            = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"
          .form-group.text-center
            = f.submit "Save", class: "btn btn-success"
      .card-footer
        = render "devise/shared/links"
