.row.bottom-bar-container
  .col-md-8.offset-md-2
    - @episodes.each do |episode|
      .card
        .card-body
          .row
            .col-3
              =image_tag episode.image, class: "img-fluid"
            .col-5
              %h4.text-center
                = episode.name
              %p.small.text-center
                = "Season #{episode.season}, Episode #{episode.number}"
                = link_to "Read More...", episode, class:"text-center"
                = link_to "Edit", edit_episode_path(episode), class:"text-center"
            .col-3
              .text-right
                = link_to "Watch", episode.link, class: "btn btn-primary"
