.row
  -e=@episode
  .col-md-5.offset-md-1.col-12
    =image_tag e.image, class: "img-fluid"
  .col-md-5
    %h3.text-center
      = e.name
    %p.small.text-center
      = "Season #{e.season}, Episode #{e.number}"
    .text-center
      = link_to "Watch episode", e.link, class: "btn btn-primary"
    .card
      .card-body
        %b Duracion:
        = "#{e.duration} min"
        %br
        = "Synopsis #{e.synopsis}"
