= form_for @episode do |f|

  .bg-danger.pl-4.pr-4
    .form-group.pt-4
      - f.label :name
      = f.text_field :name, :placeholder => "Name", class: "form-control"
    .row
      .col-6.col-sm-6
        .form-group
          - f.label :season
          = f.number_field :season, :placeholder => "Season", class: "form-control"
      .col-6.col-sm-6
        .form-group
          - f.label :number
          = f.number_field :number, :placeholder => "Number", class: "form-control"
    .form-group
      - f.label :duration
      = f.number_field :duration,  :placeholder => "Duration (min)", class: "form-control"
    .form-group
      - f.label :synopsis
      = f.text_area :synopsis, :rows => "6",  :placeholder => "Synopsis", class: "form-control"
    .form-group
      - f.label :image
      = f.text_field :image,  :placeholder => "Image", class: "form-control"
    .form-group
      - f.label :link
      = f.text_field :link, :placeholder => "Link", class: "form-control"
    .text-center.pb-4
      = f.submit "Save", class: "btn btn-light"
