%h2.text-center.mb-4="Search results for #{@query}"

- if @episodes.count == 0
  .alert.alert-info There were no results for your search
- else
  .row
    .col-12-md-4.offset-md-2
      .list-group
        = render @episodes
