.row.bottom-bar-container.pl-3
  .col-md-4.offset-md-4
    %h1.text-center.mb-4 Seasons
    %ul.list-group
      - @seasons.each_with_index do |season, n|
        %li{class: "list-group-item #{n % 2 == 0 ? 'list-group-item-success d-flex justify-content-between align-items-center' : 'list-group-item-warning d-flex justify-content-between align-items-center'}"}
          = link_to "Season #{season}", season_path(season)
          %span.badge.badge-pill.badge-dark="#{number_episodes(season)} episode"
