%nav.navbar.navbar-expand-md.navbar-dark.bg-danger
  %button.navbar-toggler{type: "button", "data-toggle": "collapse", "data-target": "#navbarNav", "aria-controls": "navbarNav", "aria-expanded": "false", "aria-label": "Toggle navigation"}
    %span.navbar-toggler-icon

.navbar-nav
  - if user_signed_in?
    .dropdown
      %button#dropdownMenuButton.btn.btn-primary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        My account
      .dropdown-menu{"aria-labelledby" => "dropdownMenuButton"}
        = link_to "Profile", profile_path, class: "dropdown-item"
        = link_to "Sign out", sign_out_path, method: "delete", class: "dropdown-item"
    %ul.navbar-nav
      %li.navbar-item
      -# {class: active_class(root_path)}
      = link_to 'Home', root_path, class: "nav-link"
  - else
    = link_to 'Sign in', sign_in_path, class: 'nav-link'
- if current_user
  %nav.navbar.navbar-expand-lg.navbar-dark.bg-danger
    =link_to "My TV show", root_path, class: 'navbar-brand'
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item.active
          = link_to "Seasons", seasons_path, class: 'nav-link'

        %li.nav-item
          = link_to "Episodes", episodes_path, class: 'nav-link'
        %li.nav-item
          = link_to "Last episode", last_episode_path, class: 'nav-link'
        = link_to " New Episode", new_episode_path, class: "btn btn-light"
      = form_tag search_path, class: "form-inline", method: "get" do
        = text_field_tag "query", @query, class:"form-control mr-sm-2", type:"search", placeholder:"Search episodes", "aria-label": "Search"
        = submit_tag "Search", class: "btn btn-light"
